{% extends 'users/detail.html' %}
{% block user_details %}

  <!-- Comment for users/show.html loaded. For testing, do not remove -->

<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">

          <div class="d-flex flex-row align-items-center">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
              {% if g.user %}
                {% if g.user.id != message.user.id %}
                  {% if g.user.is_liked_by(message) %}
                    <form method="POST"
                    action="/messages/{{ message.id }}/unlike">
                      {{ g.csrf_form.csrf_token }}
                      <input type="hidden" name="referring_page"
                      value="{{ request.path }}">
                      <button class="bi bi-star-fill btn btn-link"></button>
                    </form>
                  {% else %}
                  <form method="POST" action="/messages/{{ message.id }}/like">
                    {{ g.csrf_form.csrf_token }}
                    <input type="hidden" name="referring_page"
                      value="{{ request.path }}">
                    <button class="bi bi-star btn btn-link"></button>
                  </form>
                  {% endif %}
                {% endif %}
              {% endif %}
          </div>
        <p>{{ message.text }} </p>
      </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}